{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-empty-line-before": null,
	"block-opening-brace-space-after": never,
    "block-opening-brace-space-before": never,
	"indentation": 2
  }
}