language: node_js
node_js:
- '6'
cache: yarn
sudo: required
os: linux
dist: trusty
addons:
    code_climate:
        repo_token: 4d53c65fda9dd3b1fbdfc7eb366d294fb37e5b457a4770eacbb41bc8fa74f370
    firefox: "49.0"
before_install:
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then export CHROME_BIN=/usr/bin/google-chrome; fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then export DISPLAY=:99.0; fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then sh -e /etc/init.d/xvfb start; fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update ; fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install -y libappindicator1 fonts-liberation; fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb; fi
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo dpkg -i google-chrome*.deb; fi

before_script:
- npm install -g gulp
- npm start &
- sleep 3

script:
- jdk_switcher use oraclejdk8
- npm test
- npm run e2e
after_script:
- pkill node
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
deploy:
  provider: heroku
  api_key:
    secure: AHj5o5Bd9sJmPF5xytKiDjG2skEcxJgSTWzwRDe0ZyiyICwCytD28M8g+1pvEfEi7Be13I2xfjxtZPSMPTP/CJn2TgZrVPXUSOefzszZVDVdBXXrUQHxzPXFJAb4DWCCi747Wj15kQRNhQT3p3QaMCyzhyznOrD8iEAA2ijIx98CDxH+BjKlyerAGr6Qm90hJ7hn8bwwG4PNK7JXgk8YYEXKx9u33Xzk2QQ7c1dHoILMf31GUgFKPi6RnpEU/w53i1PZVI/APuONsuFjKqc9559UBjfmcggPmDBz2tlK0QAaAnnRtCL9XWO49i4CDHjDu342FFJkzCHN7x0QlWSeCZUQWVroqXtn88LkAW4ts1Q/o4H4VzygV+7WoFK13Vvd9mv0Sd8+UHBuUHE4u/PEizTgeu88idEXYc1fOJAPDB/WWrmSXkPvaLO8CGDaHjhijll+4A8i8SmiIRB/9dFMtTotMX2isn9anWfFlNaSUlhYkLweQqi/yT67VyzWVOCclk7iNCxLskHk0ZUUf8LcziFjxPkXKxrBMI0NHguQbU7FD5VNsI7HIJiajWXi1k435rpjWVRNBjq/R1AKYz7AqRMbpeOb/x18AEOmiXmCFaIC2bakeFXECcUOTIahGjXTlHhj0YduUo3S4GUGGUNkRRpLigHljr+g/AkZzZn/vtM=
  app: team0x13
  on:
    repo: ericluo05/CSE112-0x13
notifications:
  email: false
  slack:
    rooms:
      - team19-0x13:WRjeky69LMpBdaajFINEwCTP#travisci
    on_success: always
    on_failure: always
