<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Phone Validation</title>
    <!--link rel='stylesheet' href='/stylesheets/pvstyle.css' /-->
    <link rel="stylesheet" href="/stylesheets/bulma.min.css" />
</head>
<body>
<b id="ResultText"> Result Here: No response yet </b><br>
<div class="columns is-mobile" style="margin-top:10px">
    <div class="column is-three-quarters is-offset-1">
        <h1 class="title">Phone Validator</h1>
        <form class="control" id="isValidPhone", action="javascript:validatePhone()">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Phone No.</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control select is-expanded">
                            <select name="country_code_1" id = "cc1" required>
                                <option disabled selected value>Select a Country</option>
                                <option value="1" selected>US  +1</option>
                                <option value="52">Mexico  +52</option>
                                <option value="86">China  +86</option>
                            </select>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="tel" name="number" id="number" placeholder="Number" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary" type="submit">Validate</button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <h1 class="title">Phone Formatter</h1>
        <form class="control" id="formatPhone"  action="javascript:formatPhone()">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Phone No.</label>
                </div>
                <div class="field">
                    <p class="control select is-expanded">
                        <select name="country_code_1" id = "cc2" required>
                            <option disabled selected value>Select a Country</option>
                            <option value="1" selected>US  +1</option>
                            <option value="52">Mexico  +52</option>
                            <option value="86">China  +86</option>
                        </select>
                    </p>
                </div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="input" name ="formatName" id = "telnum" type="tel" placeholder="Number" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary" type="submit">Format</button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="js/validatephone.js"></script>
</body>
</html>
