#slider {
  background-image: url(/images/background.png);
  background-attachment: fixed;
  background-position: 40% 40% !important; 
  height: 100%;
}

#nav-bar-container {
  position: fixed !important;
  background-color: white !important;
  opacity: 0.9;
  top: 0;
  width: 100%;
  height: 80px;
  margin-top: -10px;
}

.slider-container {
  margin-top: 80px;
  margin-bottom: 0px !important;
  width: 100% !important;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #049099 !important;
  border-color: #049099 !important;
  opacity: 0.9;
}

.panel-primary {
  border-color: #049099 !important;
  height: 250px;
}

.panel {
  box-shadow: none !important;
}

.social-networks > li a { 
  background: #01b2bd !important;
  line-height: 34px;
  text-align: center !important;
  font-size: 18px;
  color: white !important;
  margin-top: 10px;
  width: 34px;
  height: 34px;
}

.features-blocks{
  background-color: #eeeeee !important;
  box-shadow: inset 0px 0px 30px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.testimonials-container {
  background: url(/images/testimonials.png)!important;
}

.copy-right {
  text-align: center;
}
