.page-title {
  margin: 30px auto;
}

.admin-settings-container {
  max-width: 980px;
}

.field-color {
  color: black;
}

.edit-button {
  float: left;
  border-radius: 2px;
  padding: 7px 13px;
  margin-top: 15px;
  background-color: #01b2bd;
  color: white;
}

.edit-button:hover {
  background-color: #049099;
  cursor: pointer;
}

hr {
  border-top: 3px solid #01b2bd !important;
}
