.page-title {
  margin: 15px auto 30px;
  display: inline-block;
}

#search-div {
  padding-right: 25px;
}

#search-input {
  margin: 15px auto 30px;
}

table {
  border-radius: 4px !important;
}

#company-list tr:nth-last-child(1) {
  border-bottom: 1px solid rgb(215, 215, 215) !important;
}

.table > thead > tr > th {
  border-bottom: none !important;
}

.table thead > tr {
  border-color: rgb(215, 215, 215) !important;
}

.table tr td {
  border-color: rgb(215, 215, 215) !important;
}

.table th {
  font-size: 1.2em;
}

.admin-panel-container table tbody tr:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

hr {
  border-top: 3px solid #01b2bd !important;
}

.graph {
  padding: 200px;
  border: solid 3px;
  border-color: #01b2bd;
  margin: 15px;
}
