body {
  font-family: "Helvetica Neue";
}

#clock {
  color: #e6e8ec;
  font-size: 1250%;
  text-align: center;
  padding-top: 150px;
}

body#check-in-page {
  background-color: #303641;
  height: 100vh;
}

#tap-to-check {
  position: absolute;
  left: 50%;
  margin-left: -137.5px;
  background-color: #e6e8ec;
  width: 275px;
  height: 100px;
  bottom: 20%;
  border-radius: 3px;
  display: block;
}

#tap-to-check:hover {
  cursor: pointer;
}

#tap-to-check p {
  font-family: "Helvetica Neue";
  text-align: center;
  color: #333;
  font-size: 32px;
}

.check-in {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  width: 400px;
  top: 15%;
  text-align: center;
}

.check-in h1 {
  color: #e6e8ec;
  font-size: 52px;
  margin-bottom: 75px;
}

.check-in > input.visitor-fields {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e6e8ec;
  padding-bottom: 5px;
  width: 100%;
  color: #fff;
  font-size: 28px;
}

.check-in > input:focus {
  outline: none;
}

.check-in > input::-webkit-input-placeholder {
  color: #fff;
}

.submit-check-in {
  position: absolute;
  left: 50%;
  margin-top: 75px;
  margin-left: -75px;
  background-color: #e6e8ec;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  display: block;
  border: none;
  font-size: 28px;
}

.hide {
  display: none !important;
}

