#company-name > h1 {
  font-size: 18px;
}

.modal-title {
  font-size: 24px;
  text-align: center;
}

.page-title {
  margin: 35px auto;
}

.table > thead > tr > th {
  border-bottom: none !important;
}

.add-button {
  text-align: center;
  border-radius: 2px;
  padding: 7px;
  margin-top: 15px;
  background-color: #01b2bd;
  color: white;
}

.add-button:hover {
  background-color: #049099;
  cursor: pointer;
}

.update-employee {
  float: right;
  text-align: center;
  border-radius: 2px;
  padding: 3px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: #01b2bd;
  color: white;
}

.update-employee:hover {
  background-color: #049099;
  cursor: pointer;
}


.delete-employee {
  float: right;
  text-align: center;
  border-radius: 2px;
  padding: 3px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: #01b2bd;
  color: white;
}

.delete-employee:hover {
  background-color: #049099;
  cursor: pointer;
}

.patient-table-header > .form-control {
  width: 150px;
  margin-bottom: 15px;
}

.patient-table-header > h3 {
  display: inline-block;
  font-size: 1.8em;
}

.employee-container {
  max-width: 980px;
}

table {
  border-radius: 4px !important;
}

.table th {
  font-size: 1.2em;
}

.table thead > tr th {
  border-color: rgb(215, 215, 215) !important;
}

.table tr td {
  border-color: rgb(215, 215, 215) !important;
}

tr:nth-last-child(1) {
  border-bottom: 1px solid rgb(215, 215, 215) !important;
}

hr {
  border-top: 3px solid #01b2bd !important;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%;
}

.modal-body {
  overflow: hidden;
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}

.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}

.form-control {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}

.control-label {
  margin-top: 8px !important;
}

.deletion-message{
    float: left;
    font-size: 17px;
    
}

.radio label, .checkbox label {
    margin-top: 7px;
}