.form-control {
  display: inline;
}

#box0,
#box1 {
  outline: none !important;
  border: none !important;
  padding: 6px;
  color: black;
  display: inline-block;
  width: 60%;
}

.remove-box {
  margin-left: 20px;
}

hr {
  border-top: 3px solid #01b2bd !important;
}

.form-builder {
  width: 40%;
  max-width: 480px;
}

.form-builder {
  width: 60%;
  max-width: 480px;
  margin: 25px auto;
}

.form-group {
  width: 100%;
}

#optional_label {
  width: 100%;
}

.add-fields {
  margin-top: 15px;
}

.save-form {
  margin-left: 15px;
}

h1.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
